* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  width: 500px;
}

.progress-bar {
  width: 100%;
  height: 40px;
  background-color: rgb(196, 183, 183);
}
/*
.bar {
  height: 100%;
  width: 10px;
  background-color: red;
} */
