.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  background-color: pink;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 25px;
}
.child1 {
  background-color: rgb(29, 11, 192);
  flex-shrink: 0;
  font-size: larger;
  color: white;
  text-align: center;
  margin-left: 5px;
  width: 140px;
  height: 140px;
}

.child2 {
  background-color: rgb(29, 11, 192);
  align-self: stretch;
  font-size: larger;
  color: white;
  text-align: center;
  margin-left: 5px;
  width: 140px;
  height: 140px;
}

.child3 {
  background-color: rgb(29, 11, 192);
  font-size: larger;
  color: white;
  text-align: center;
  margin-left: 5px;
  width: 140px;
  height: 140px;
}

.child4 {
  background-color: rgb(29, 11, 192);
  font-size: larger;
  color: white;
  text-align: center;
  margin-left: 5px;
  width: 140px;
  height: 140px;
}
/*
.child1 {
  flex-shrink: 0;
  font-size: larger;
  color: white;
  text-align: center;
  margin-left: 5px;
  height: 25%;
  width: 25%;
  background-color: blue;
} */
